<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bnsr.edu_yun.frontstage.base.mapper.MyContributionMapper">
    <select id="showMyContribution" parameterType="cn.bnsr.edu_yun.frontstage.base.view.MyContributionView" resultType="cn.bnsr.edu_yun.frontstage.base.view.MyContributionView">
       select a.id id, a.filename filename,a.size size, c.classify_name `type`, a.upload_time uploadtime,a.check_time checktime,
       a.reason reason,a.delete_time deletetime
        from file_base a inner join file_catalog b on a.catalog_id = b.id inner join classify c on b.column_id=c.id
       where a.upload_user = ${userId}  and a.status = ${status} 

       <if test="fileType==1">
           and b.type =${fileType} 
       </if>
        <if test="fileType==2">
           and b.type =${fileType} 
       </if>
        <if test="fileType==3">
           and b.type =${fileType} 
       </if>
       order by a.upload_time desc
       LIMIT ${startLine},${rows}
    </select>
     <select id="queryTotalContribution" parameterType="cn.bnsr.edu_yun.frontstage.base.view.MyContributionView"  resultType="java.lang.Integer" >
         select count(*) from file_base a inner join file_catalog b on a.catalog_id = b.id inner join classify c on b.column_id=c.id
       where a.upload_user = ${userId} and a.status = ${status} 

       <if test="fileType==1">
           and b.type =${fileType} 
       </if>
        <if test="fileType==2">
           and b.type =${fileType} 
       </if>
        <if test="fileType==3">
           and b.type =${fileType} 
       </if>
      
       </select>
    </mapper>
    